<h1>Event Binding</h1>
<input type="text" (blur)="handleBlur($event)" />
<h2>{{ title }}</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisi odio,
  ullamcorper sit amet pulvinar non, blandit quis sapien. Praesent facilisis
  turpis tincidunt massa sagittis pellentesque. Sed vehicula faucibus lorem,
  suscipit finibus nulla accumsan at. Phasellus eu consequat erat. Curabitur
  quis iaculis turpis, sit amet mattis tortor. Duis in ipsum a lectus mattis
  sagittis. Etiam a erat sollicitudin, ultricies arcu ut, malesuada tortor.
  Quisque finibus pulvinar diam, elementum dignissim enim consequat ac. Nulla
  placerat fermentum mauris, vel mattis ante ultricies a. Pellentesque habitant
  morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  Quisque sit amet ultricies odio. Vestibulum vehicula enim arcu, pharetra
  efficitur arcu hendrerit nec. Maecenas volutpat vehicula nulla quis
  scelerisque. Nullam non imperdiet odio. Aliquam commodo leo quis urna lacinia
  pharetra. Aenean diam magna, dignissim sit amet porta a, blandit et libero.
  Donec lobortis a libero in consectetur. Nunc ut pulvinar metus. Curabitur
  pellentesque eget justo sed euismod. Etiam at tellus vitae turpis elementum
  vestibulum. Vestibulum malesuada erat sed sodales lacinia. Nunc molestie,
  sapien eget pharetra consequat, felis nisi placerat est, vehicula interdum
  velit mi ut velit. Nam elementum dapibus neque, id blandit nisl viverra at.
  Aenean sed vulputate lorem, sit amet porttitor dui. Nulla facilisi. Fusce
  euismod nec dolor vitae malesuada. Nam dapibus dolor velit, nec posuere dui
  euismod eu. Donec sit amet lacinia eros, in porttitor lorem. Nam porta elit in
  arcu egestas, eu condimentum ex porta. Nulla sagittis sollicitudin eros id
  bibendum. Donec consequat quam sit amet tortor viverra molestie. Pellentesque
  vulputate fringilla nisl, eget luctus odio varius at. Aenean fermentum
  vestibulum lacinia. Maecenas lobortis diam vel odio sodales, eget efficitur
  felis pellentesque. Aenean pretium ipsum diam, id faucibus quam faucibus id.
  Sed magna sapien, tempus ac purus a, gravida sodales ante. Duis finibus nulla
  et nulla laoreet viverra. Donec hendrerit a nibh nec dictum. Quisque mollis
  pellentesque velit. Nam iaculis tristique porta. Orci varius natoque penatibus
  et magnis dis parturient montes, nascetur ridiculus mus. Proin placerat, eros
  ut tempus venenatis, risus purus sollicitudin felis, et pretium arcu leo
  malesuada justo. Maecenas rutrum leo rhoncus congue egestas. Duis ultricies
  elit felis, eget interdum eros consectetur eget. Maecenas condimentum arcu
  elit, id fermentum urna commodo ac. Praesent interdum interdum nisl at
  bibendum. Donec ut tempus mi. Sed suscipit id quam ac dapibus. Aliquam luctus
  ex ipsum, vitae hendrerit velit posuere ac. Integer iaculis venenatis gravida.
  Nullam vitae dignissim dui. Nulla ullamcorper mauris vitae nibh accumsan, in
  gravida ex tempor. Vestibulum tristique, massa eget elementum consectetur,
  purus neque rutrum ex, nec facilisis magna risus sit amet nisl. Pellentesque
  suscipit accumsan egestas. Suspendisse tincidunt pellentesque nibh, at euismod
  erat ornare eget. Sed purus ante, lacinia quis ex in, venenatis venenatis
  metus. Aliquam vel ante nec erat condimentum volutpat sit amet et ligula.
  Vivamus at libero bibendum, condimentum est id, pulvinar turpis. Nam in nisl
  augue.
</p>
